.btn-brown {
  --bs-btn-color: #CC9544;
  --bs-btn-bg: #1C0A00;
  --bs-btn-border-color: #1c0a00;
  --bs-btn-hover-color: #CC9544;
  --bs-btn-hover-bg: #2b0300;
  --bs-btn-hover-border-color: #1a0100;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #CC9544;
  --bs-btn-active-bg: #1a0100;
  --bs-btn-active-border-color: #001100;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #CC9544;
  --bs-btn-disabled-bg: #1C0A00;
  --bs-btn-disabled-border-color: #1C0A00;
}
/* 1C0A00 BG*/
/* CC9544 FG*/