body {
  color: white;
  background: #000000;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 1rem 2rem 1rem; 
  outline: 1px solid rgba(0, 0, 0, 0.25);
  outline-offset: -10px;
  border-radius: 1rem;
}

.event-card {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

/* .btn {
  width: 320px;
} */

.button-container {
  width: 400px;
}

@media (max-width: 360px) {
  .button-container {
    width: 100%;
  }
}