.btn-brown {
  --bs-btn-color: var(--orange);
  --bs-btn-bg: var(--brown);
  --bs-btn-border-color: var(--brown);
  --bs-btn-hover-color: var(--orange);
  --bs-btn-hover-bg: var(--red);
  --bs-btn-hover-border-color: var(--dark-brown);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: var(--orange);
  --bs-btn-active-bg: var(--dark-brown);
  --bs-btn-active-border-color: var(--active-border-color);
  --bs-btn-active-shadow: var(--active-shadow);
  --bs-btn-disabled-color: var(--orange);
  --bs-btn-disabled-bg: var(--brown);
  --bs-btn-disabled-border-color: var(--brown);
}
/* 1C0A00 BG*/
/* CC9544 FG*/